$cell-size: 10px;
$cell-spacing: 2px;
$cell-border: 1px;

.data-cell {
    height: $cell-size;
    width: $cell-size;
    margin: $cell-spacing;
    border: $cell-border solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: all 0.3s ease;

    &:hover {
        border: $cell-border solid rgba(0, 0, 0, 0.3);
    }
}