$cell-size: 10px;
$cell-spacing: 2px;
$cell-border: 1px;
$bg-color: #0969da;
$font-color: white;

.heat-map-container {
    margin: 16px;
    display: inline-flex;
    flex-direction: column;
    gap: $cell-size;
    min-width: 25%;
}

.heat-map {
    display: flex;
    flex-direction: column;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d4aa70;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #c48b3a;
    }

    & .heat-map-monthNames {
        padding-left: calc((($cell-size * 3) + ($cell-spacing * 2) + ($cell-border * 2)));
        display: flex;

        & .month-header-cell {
            min-width: $cell-size;
            max-width: $cell-size;
            margin: $cell-spacing;
            border: $cell-border solid transparent;
        }
    }

    & .heat-map-grid {
        display: flex;
        flex-direction: row;

        & .heat-map-grid-weekNames {
            display: flex;
            flex-direction: column;

            & .weekday-side-header-cell {
                height: $cell-size;
                width: $cell-size * 3;
                margin: $cell-spacing;
                border: $cell-border solid transparent;
                text-align: center;
            }
        }

        & .heat-map-grid-event-data {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: calc(($cell-size + ($cell-spacing * 2) + ($cell-border * 2)) * 7);
        }
    }
}

.notes {
    display: flex;
    align-items: center;
    gap: $cell-spacing;
    justify-content: flex-end;
    cursor: pointer;
}

.container {

    display: flex;

    .year-filter {
        width: 60px;
        max-width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & .year {
            padding: 8px 16px;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.3s ease;

            &.active {
                background-color: $bg-color;
                color: $font-color;
            }
        }
    }
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & input, label, button {
        cursor: pointer;
    }

    & input {
        border-width: 0.5px;
        border-radius: 4px;
        padding: 6px;
    }

    & button {
        border-radius: 4px;
        padding: 6px;
        background-color: $bg-color;
        color: $font-color;
        outline: none;
        border: none;
    }
}