<div class="container">

  <div class="heat-map-container">
    <div class="heat-map">

      <div class="heat-map-monthNames">
        <div *ngFor="let monthName of monthNames" class="month-header-cell">
          {{monthName}}
        </div>
      </div>

      <div class="heat-map-grid">

        <div class="heat-map-grid-weekNames">
          <div *ngFor="let dayName of dayNames" class="weekday-side-header-cell">
            {{dayName}}
          </div>
        </div>

        <div class="heat-map-grid-event-data">
          <app-data-cell *ngFor="let data of eventData" [intensityFilter]="active_intensity_filter" [data]="data"
            [maxEvents]="maxEvents" [isNotes]="false" [startDate]="startDate" [endDate]="endDate" />
        </div>

      </div>

    </div>

    <div class="notes">
      <div>Less</div>
      <app-data-cell *ngFor="let data of notesdata" [intensityFilter]="active_intensity_filter" [data]="data"
        [maxEvents]="maxNotesEvents" [isNotes]="true" (click)="intensityFilter(data)" [startDate]="startDate"
        [endDate]="endDate" />
      <div>More</div>
    </div>
  </div>

  <div class="year-filter">
    <div *ngFor="let filter of yearFilter" class='year' [ngClass]="{ 'active': filter.year === activeYearFilter }"
      (click)="yearFilterApplied(filter)">
      {{filter.year}}
    </div>
  </div>
</div>

<div class="filters">

  <div>
    <label for="fromdate">From Date: </label>
    <input type="date" id="fromdate" name="fromdate" [min]="minDate" [max]="maxDate" #fromDatePicker>
  </div>
  <div>
    <label for="todate">To Date: </label>
    <input type="date" id="todate" name="todate" [min]="minDate" [max]="maxDate" #toDatePicker>
  </div>
  <button (click)="dateRangeFilter()">Apply Date Range Filter</button>
  <button (click)="resetDateRangeFilter()">Reset Date Range Filter</button>
  <button (click)="filterReset()">Reset All Filters</button>
  <button (click)="resetIntensityFilter()">Reset Intensity Filter</button>
</div>